@media (min-width: 100px)
{
.App-header{
  background-size:cover;
  background-color: blanchedalmond;
  width: 100%;
  overflow-x:auto;
  height: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
input{
  width: 32px;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: blanchedalmond;
}

table tbody th:first-child {
  position: sticky;
  left: 0;
  background: blanchedalmond;
  z-index: 2;
}

.lockPlace{
  position: sticky;
  z-index: 3;
  left: 0;
}
.last{
  margin-bottom: 300px;
}
.headcol{
  width: 100px;
  position: sticky;
}
.holeHead{
  display: flex;
  width: 40px;
  flex-wrap: nowrap;
  flex-direction: row;
  max-height: min-content;
}
.holes {
  flex-wrap: nowrap;
  flex-direction: row;
  width:200px;
  max-height: min-content;
  margin: 0;
  padding-left:0;
  text-align:center;
 
}

.test {
  position:absolute;
   z-index:10
}
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 200px;
  align-items: center;
  justify-content: center;
}

} 
